<h1> Enter or Update marks for all {{test_details.test_type}} <h1>
<form action="/users/save_marks/" method="post">
    {% csrf_token %}
    <table border="2">
        <tr>
            <th>S.No</th>
            <th>Roll.No</th>
            <th>Name</th>
            <th>Marks Obtained</th>
        </tr>
        {% for x, y in combined_lists %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ x.roll_no }}</td>
            <td>{{ x.firstname }}</td>
            <td><input type ="number" name='mark' value ="{{ y.marks_obtained }}"></td>
            <input type="hidden" name="student_id" value="{{ x.unique_id }}">
            <input type="hidden" name="test_id" value="{{ test_details.test_id }}">
        </tr>

        {% endfor %}

    </table>

<input type="submit" value="Save Marks">
</form>
